.center {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.landing-page-logo {
    height: 350px;
}

.landing-page-logo-wrapper {
    min-width: 300px;
    margin: 70px 10px;
}

.events-icon {
    height: 70px;
}

#matches-section .class-item > img {
    width: 220px;
}

#matches-section .class-item-text {
    text-align: center;
    width: 100%;
}

#matches-section .class-item .class-item-text h2 {
    font-size: 26px;
    margin-bottom: 0px;
    margin: 20px auto;
}

.versus-icon {
    height: 40px;
}

.team-name {
    font-size: 36px;
}

.class-item:hover h2 {
    color: #fff;
}

.class-item:hover p, .class-item:hover span {
    color: #fff;
}

.schedule-session {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 27px;
}

.footer-section a:hover {
    color: #fff;
}



@media screen and (max-width: 375px) {
    .versus-icon {
        height: 30px;
    }
    #matches-section .class-item .class-item-text h2 {
        font-size: 23px;
        margin-bottom: 0px;
        margin: 7.5px auto;
    }
    
    /* #pills-tab {
        
    } */
    
}

@media screen and (max-width: 464px) {
    #matches-section .class-item > img {
        width: 35%;
    }

}

@media screen and (max-width: 446px) {
    .events-popup-info {
        padding: 10px 0px !important;
    }
}

@media screen and (max-width: 406px) {
    .events-popup-info a {
        padding: 4px 8px;
    }
    .events-popup-img{
        min-height: 375px !important;
    }
}

@media screen and (max-width: 575px) and (min-width: 407px) {
    .events-popup-img{
        min-height: 400px !important;
    }
}

@media screen and (max-width: 575px) {
    .landing-page-logo {
        height: 150px;
    }
    
}

@media (min-width: 576px) { 
    .landing-page-logo {
        height: 200px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .landing-page-logo {
        height: 250px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .landing-page-logo {
        height: 350px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}


/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    h2 {
        font-size: 1.5rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */

.ftco-feature-1 {
    height: 90%;
}

@media (min-width: 992px){
    .modal-lg {
        max-width: 1200px;
    }
}

body{
    padding-right: 0px !important;
}
    
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}

.events-popup-img {
    width: 100%;
    min-height: 500px;
    background-position: left;
    background-size: cover;
}

.events-popup-info {
    margin: 5px;
    padding: 10px 20px;
}